* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


body {
    font-size: 1rem;
    font-family: "Atkinson Hyperlegible Mono", sans-serif;

    margin: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}

.btn {
    /* reset */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font: inherit;
    color: inherit;
    background-color: transparent;
    position: relative;
    text-decoration: none;

    border: 1px var(--black) solid;
    padding: 0.6em 1.6em;

    &:hover {
        border: 1px var(--primary-color2) solid;
        color: var(--primary-color2);
    }

    /* round btns */
    &.round {
        border-radius: 2em;
    }

    /* No border */
    &.no-border {
        border: 0;
    }

}

footer {
    display: grid;
    justify-items: end;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 2rem;
}