* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


body {
    font-size: 1rem;

    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

img {
    width: 100%;
}