.meme-form {
    display: grid;
    gap: 15px;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "text text"
        "add switch"
        "color size";
}

.area-text {
    grid-area: text;
    padding: 12px;
}

.area-add {
    grid-area: add;
}

.area-switch {
    grid-area: switch;
}

.area-color {
    grid-area: color;
    width: 100%;
    height: 100%;
}

.area-size {
    /* grid-area: size; */

    button {
        width: 100%;
    }
}