.main-nav {

    ul {
        gap: 1rem;
    }

    a {
        display: grid;
        place-items: center;

        color: inherit;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            color: var(--primary-color2);
            text-decoration: underline;
        }

    }

}